# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Turso
TURSO_DATABASE_URL="libsql://your-db-name.turso.io"
TURSO_AUTH_TOKEN=""

# Auth
AUTH_SECRET="" # Required in production, optional in dev
NEXTAUTH_URL="https://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Instagram
INSTAGRAM_CLIENT_ID=""
INSTAGRAM_CLIENT_SECRET=""
INSTAGRAM_BUSINESS_ACCOUNT_ID=""
INSTAGRAM_ACCESS_TOKEN=""

# Mailchimp
MAILCHIMP_API_KEY=""
MAILCHIMP_SERVER_PREFIX=""
MAILCHIMP_LIST_ID=""

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""

# Printful
PRINTFUL_API_KEY=""
PRINTFUL_STORE_ID=""

# Email (Resend)
RESEND_API_KEY=""

# Telegram notifications
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""

# External API
WEDGIETRACKER_API_KEY=""

# Google Analytics
NEXT_PUBLIC_GA_ID=""
